<nav role="navigation" class="nav-click">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <ul>
        
        <li><a href="/"><i class="fa fa-home"></i><span class="mobile-hide">主页</span></a></li>
        <li><a href="/lesson_index"><i class="fa fa-pied-piper-alt"></i><span class="mobile-hide">课程介绍</span></a>
            <ul class="dropdown">
                <li><a href="/lesson_level_0"><i class="fa fa-star-o"></i><span class="mobile-hide">初级课程</span></a></li>
                <li><a href="/lesson_level_1"><i class="fa fa-moon-o"></i><span class="mobile-hide">中级课程</span></a></li>
                <li><a href="/lesson_level_2"><i class="fa fa-sun-o"></i><span class="mobile-hide">高级课程</span></a></li>
                <li><a href="/terminology"><i class="fa fa-pencil-square-o"></i><span class="mobile-hide">术语</span></a></li>
                <li><a href="/price"><i class="fa fa-credit-card"></i><span class="mobile-hide">价目表</span></a></li>
                <li><a href="/_includes/cal.html"><i class="fa fa-credit-card"></i><span class="mobile-hide">cal</span></a></li>
            </ul>
        </li>
        <li><a href="/blog/"><i class="fa fa-book"></i><span class="mobile-hide">教室日志</span></a></li>
        <li><a href="/contact"><i class="fa fa-comments-o"></i><span class="mobile-hide">联系我们</span></a></li>
        <li><a href="/faq"><i class="fa fa-question-circle"></i><span class="mobile-hide">FAQ</span></a>
            <!-- <ul class="dropdown">
            <li><a href="#">非学员报名体验课</a></li>
            <li><a href="#">上课须知</a></li> -->
            </ul>
        </li>
    </ul>
</nav>